[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "third_party/pffft"]
	path = third_party/pffft
	url = https://github.com/a-day-old-bagel/pffft
